<div id="apropos" class="home">
    <div class="mot">
        <label>A propos</label>
    </div>
    <div>
        <img class="photo" src="assets\photo\quisommenous.png">
        <p id="titre">Qui sommes-nous?</p>
        <p id="text">Notre site de gestion de clubs universitaires vous permet de créer des profils
             de club, de publier des événements, de gérer les membres et de communiquer facilement 
             avec eux. Avec notre outil facile à utiliser, vous pouvez vous concentrer sur ce qui 
             compte vraiment : faire de votre club un succès.</p>
        </div>
        <div>
           
        </div>
    </div>