.home
{
    position: relative;
}
.mot
{
    font-size: 32px;
    text-align: center;
    padding-top: 41px;
    font-family: 'happy school';
}
.photo
{
    position: absolute;
    left: 117px;
    padding-top: 59px;
    width: 566px;
    height: 377px;
}
.cercle
{
    position: absolute;
    top: 410px;
    left: 65px;
}
#titre
{
    font-size: 31px;
    /* text-align: right; */
    position: absolute;
    right: 250px;
    top: 130px;
    font-weight: bold;
    color: #3362A2;
}
#text
{
    font-family: 'Poppins';
    text-align: left;
    position: absolute;
    font-size: 23px;
    padding-left: 770px;
    top: 220px;
    right: 100px;
    /* left: 50px; */
    /* line-height: 2; */
}