<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <div id="even" class="home">
        <img class="backg" src="assets\photo\background2.png">
        <img class="cercle" src="assets\photo\cercle.png">
        <p class="mot">Evenements</p>
        <p class="text">Evenements plus importants de clubs</p>
        <div id="rec1">
            <img id="image" src="assets\photo\evenem1.jpg"><br>
        </div>
        <div id="rec2">
            <img id="image" src="assets\photo\evenem2.jpg"><br>
        </div>
        <div id="rec3">
            <img id="image" src="assets\photo\evenem3.png"><br>
        </div>
        <div id="rec4">
            <img  src="assets\photo\evenem4.png"  width="350" height="250"><br>
        </div>
        <div id="rec5">
            <img id="image" src="assets\photo\evenem5.jfif"><br>
        </div>
    </div>
</body>
</html>
