<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <div id="temoin" class="home">
         <div class="titre">AVIS D'UTILISATEURS</div>   
        <div class="rec1">
            <img class="rec" style=" left: 600px;" src="assets\photo\Rectangle3.png">
            <img class="photo" style=" left: 650px; top: 170px" src="assets\photo\charism1.jfif">
            <span class="guill" style=" left: 640px;">&ldquo;</span>
            <span class="para" style=" left: 640px;">Ce site de gestion de clubs universitaires permet aux 
                responsables de clubs de gérer facilement les membres, les événements et les communications, 
                tout en offrant une plateforme pour la promotion de leur club</span>
        </div>
        <div>
            <img class="rec" style=" left: 150px;" src="assets\photo\Rectangle4.png">
            <img class="photo" style=" left: 240px; top:170px" src="assets\photo\charism2.jfif" twidth="200px" height="200px">
            <span class="guill" style=" left: 200px;">&ldquo;</span>
            <span class="para" style=" left: 200px;">En utilisant Ce site de gestion de clubs universitaires, 
                les clubs peuvent accéder à une plus grande audience, trouver des membres potentiels et 
                promouvoir leurs événements.</span>
        </div>
        <div>
            <img class="rec" style=" right: 70px;" src="assets\photo\Rectangle4.png">
            <img class="photo" style=" left: 1100px; top:160px" src="assets\photo\charism3.jfif">
            <span class="guill" style=" left: 1095px;">&ldquo;</span>
            <span class="para" style=" left: 1100px;">Les étudiants sont plus susceptibles de rejoindre un club 
                universitaire s'ils ont facilement accès aux informations sur le club et s'ils peuvent 
                s'inscrire rapidement aux événements qui les intéressent.</span>
        </div>
    </div>
</body>
</html>