<div class="footer">
    <div>
        <img class="logo" src="assets\photo\logo1.png">
    </div>
    <div>
        <p id="book">©EnicarClubs2023</p>
    </div>
    <div>
        <p id="mot">Rejoignez-nous</p>
        <img class="icon" src="assets\photo\icons.svg">
    </div>
    <div class="navbar">
        <span>Accueil</span>&#8226;
        <span>Qui somme nous?</span>&#8226;
        <span>Clubs</span>&#8226;
        <span>Evenements</span>&#8226;
        <span>Avis</span>&#8226;
        <span>Contact</span>
    </div>
</div>